html body {
	font-family: sans-serif;
	background-color: #303030;
	color:#e0e0e0;
	border:0;
	margin:0;
	padding:0;
}

h1 {
	text-align: center;
	margin: 1em;
}
h2 {
	margin:0.5em 1em
}
.upload_button {
    background-color: #3030e0;
    border-radius: 5%;
    appearance: button;
    color: white;
    padding: 0.75em;
    margin: 0 1em;
    text-decoration-line: none;
    border: 1px #5050f0 solid;
}

.formfield{
	padding:1em 0 1em 2em;
}

.thumbnail{
	width:50px;
	max-height:50px;
}

.video-list{
	table-layout: auto;
	width:100%;
	border:1px solid #808080;
	text-align:center;
}

.video-player{
	width:50%;
	max-height:50%;
	margin-left:25%;
}