<html>

	<head>
		<link rel="stylesheet" href="/static/css/main.css">
		<script src="/static/js/vue.js"></script>
		<script src="/static/js/videouploader.component.js"></script>
	</head>

	<body>
		<h1>Upload Your Video</h1>
		<p>Limits: 200Mb and either mp4 or mov format</p>
		<div id="app">
			<video-uploader :categories="categories"></video-uploader>
		</div>
		<script>
			function stripQuotes(data) {
				if (data.charAt(0) == '"') {
					data = data.slice(1, -1);
				}
				return data;
			}
			function parseData(data, deflt) {
				if (data == null || data == "null") {
					return deflt;
				}
				return JSON.parse(data);
			}
			let appdata = {};
			appdata.categories = parseData(stripQuotes(`[[.categories]]`), []);
			new Vue({
				el: '#app',
				data: appdata,
			})
		</script>
	</body>

</html>